*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:#3b0e4c;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    font-family:'Times New Roman', serif;
}

.contenedor{
    width:100%;
    max-width:700px;
    background:rgb(32, 9, 45);
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(251,113,244,0.7);
}

h1{
    text-align:center;
    color:#cd21cd;
    font-family:"Rock Salt", cursive;
}

h2{
    text-align:center;
    color:#c77dff;
    margin-bottom:20px;
    font-family:"Rock Salt", cursive;
}

hr{
    margin:20px 0;
    border:none;
    height:1px;
    background:linear-gradient(to right,transparent,#c77dff,transparent);
}

.pregunta {
    margin-bottom:20px;
    color:white;
    font: size 10px;
    margin-bottom:30px;
    padding:20px;
    background:rgba(255,255,255,0.03);
    border-radius:15px;
    box-shadow: 0 0 5px violet;
    
}
.pregunta:hover{
    transform:scale(1.01);
    transition:0.3s;
    box-shadow:0 0 15px violet;
}

input[type="radio"]{
    margin-right:8px;
}

.boton{
   width:100%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:linear-gradient(45deg,#c838ab,#2f086a);
    color:white;
    font-size:1rem;
    cursor:pointer;
    transition:0.3s;

}

.boton:hover{
    transform:scale(1.01);
    box-shadow:0 0 4px rgba(251, 113, 244, 0.742);
}

#resultado{
    margin-top:20px;
    font-weight:bold;
    color:#f1b2f1;
    text-align:center;
}

.volver{
    display:block;
    text-align:center;
    margin-top:20px;
    color:#c77dff;
    text-decoration:none;
    transition: 0.3s;
}
.volver:hover{
    color: #c838ab;

}
#imagenfinal{
    display: none;
    text-align: center;
    margin-top: 30px;
}
#imagenfinal img{
    width: 220px;
    
    border-radius: 20px;
    box-shadow: 0 0 10px violet;
    display: block;
    margin: 0 auto;
    
}